.main-content {
  font-size: 25px;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.temp {
  position: relative;
  text-align: center;
}

* {
  box-sizing: border-box;
}
